.devcontainer/.ha_config/*
!.devcontainer/.ha_config/configuration-default.yaml
.venv
.DS_Store
.pytest_cache
__pycache__
tmp
temp
.coverage
coverage.xml
junit.xml
htmlcov
*.log
*.pyc
*.pyo
*.pyd
*.db
