name: Black Lint

on:
  workflow_dispatch:
  push:
    paths:
      - "custom_components/vistapool/**"
      - "tests/**"
  pull_request:
    paths:
      - "custom_components/vistapool/**"
      - "tests/**"

permissions:
  contents: write
  pull-requests: write

jobs:
  black-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Install Black
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade black[colorama]

      - name: Run Black
        # Fail on PR, Pass on main
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "On main branch, running Black check (but will not fail if not clean)."
            black --check custom_components/vistapool tests || echo "::warning file=Black::Some files would be reformatted"
          else
            echo "On PR or other branch, running Black check (will fail if not clean)."
            black --check custom_components/vistapool tests
          fi
